src/native/vcs/git/deps/* linguist-vendored
src/native/netscan/masscan/masscan/* linguist-vendored
src/native/leveldown/leveldb/* linguist-vendored
src/native/hiredis/libhiredis/* linguist-vendored
src/native/hardware/hid/deps/* linguist-vendored
src/native/hardware/boards/rpi/deps/* linguist-vendored
src/native/compressors/brotli/deps/* linguist-vendored
src/native/compressors/lzma/deps/* linguist-vendored
src/native/compressors/snappy/deps/* linguist-vendored
src/vendor/* linguist-vendored