/node_modules/
/.idea/
/npm-debug.log
/lib/
/libTests/
/libExamples/
/build/
/bin/
/shani/
/.vscode/
*.old
*.orig
*.db
test-fixtures/
_fixtures/
test-resources/
**/native/build/**/*

# realm files/dirs
/.adone/identity.json
/etc/adone/*
/packages/
/run/
/var/
/opt/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*