src/glosses/databases/level/backends/leveldb/native/deps/* linguist-vendored
src/glosses/databases/redis/__/redis/libparser/native/src/libhiredis/* linguist-vendored
src/glosses/compressors/brotli/native/src/deps/* linguist-vendored
src/glosses/compressors/snappy/native/src/deps/* linguist-vendored
src/glosses/compressors/xz/native/src/deps/* linguist-vendored
src/native/hardware/hid/deps/* linguist-vendored
src/native/hardware/boards/rpi/deps/* linguist-vendored
src/glosses/crypto/ed25519/native/src/ed25519/* linguist-vendored
src/glosses/crypto/secp256k1/native/src/secp256k1/* linguist-vendored
src/glosses/hardware/boards/rpi/gpio/native/src/deps/* linguist-vendored
src/glosses/hardware/hid/native/src/deps/* linguist-vendored
src/glosses/net/utp/native/src/libutp/* linguist-vendored
src/native/nan/* linguist-vendored
src/native/napi/* linguist-vendored
src/vendor/* linguist-vendored